#card-receitas {
  display: flex;
  margin: 20px 16px;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.card {
  background-color: var(--cards-color);
  width: 400px;
  margin: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid;
}

.card-title {
  font-size: 1.5rem;
  padding-top: 10px;
  font-weight: bold;
}

.card-img-top {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.card-text ul {
  padding: 0 0 5px 45px;
  font-size: 1rem;
  text-align: left;
}

.card-subtitle {
  font-size: 1.15rem;
  text-align: left;
  font-weight: bold;
}

.list {
  margin-left: 0;
  padding-left: 5px;
  line-height: 1.5;
}

.preparo {
  text-align: left;
  font-size: 1rem;
  line-height: 1.5;
}

.preparo b {
  font-size: 1.15rem;
}

@media (max-width: 600px) {
  #card-receitas {
    margin: 10px 5px;
    padding: 0;
  }

  .card-title {
    font-size: 1.35rem;
    padding-top: 3px;
  }

  .card-text ul {
    padding: 0 0 5px 15px;
    font-size: 1rem;
  }

  .card-subtitle {
    font-size: 1.2rem;
    margin: 0 0 5px;
  }

  .list {
    line-height: 1.25;
  }

  .preparo {
    font-size: 1rem;
    padding: 0;
    line-height: 1.25;
  }
}

@media (min-width: 601px) and (max-width: 1359px) {
  #card-receitas {
    margin: 10px 5px;
    padding: 0;
  }

  .card-title {
    font-size: 1.5rem;
    padding-top: 3px;
  }

  .card-text ul {
    padding: 0 0 5px 15px;
    font-size: 1.1rem;
  }

  .card-subtitle {
    font-size: 1.3rem;
    margin: 0 0 8px;
  }

  .list {
    line-height: 1.35;
  }

  .preparo {
    font-size: 1.1rem;
    padding: 0;
    line-height: 1.35;
  }
}
